@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --chart-1: 0, 0%, 10%; /* Very Dark Gray */
  --chart-2: 0, 0%, 15%; /* Dark Gray */
  --chart-3: 0, 0%, 20%; /* Medium Dark Gray */
  --chart-4: 0, 0%, 25%; /* Darker Gray */
  --chart-5: 0, 0%, 30%; /* Gray */
  --chart-6: 0, 0%, 35%; /* Medium Gray */
  --chart-7: 0, 0%, 40%; /* Medium Light Gray */
  --chart-8: 0, 0%, 45%; /* Light Gray */
  --chart-9: 0, 0%, 50%; /* Lighter Gray */
  --chart-10: 0, 0%, 55%; /* Very Light Gray */
  --chart-11: 0, 0%, 10%; /* Very Dark Gray */
  --chart-12: 0, 0%, 15%; /* Dark Gray */
  --chart-13: 0, 0%, 20%; /* Medium Dark Gray */
  --chart-14: 0, 0%, 25%; /* Darker Gray */
  --chart-15: 0, 0%, 30%; /* Gray */
  --foreground: 240 10% 3%; /* Gray */
}

.bg-gradient {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    45deg,
    rgba(0, 0, 0, 1) 40%,
    rgba(115, 115, 115, 1) 100%
  );
}

::-webkit-scrollbar {
  width: 0px; /* Width of the scrollbar */
}

/* Ensure the default cursor is hidden */
.Typewriter__cursor {
  display: inline-block; /* Ensure the cursor is displayed */
  visibility: visible; /* Make sure it is visible */
  position: relative; /* Ensure z-index works */
}

/* Create and style the custom white square cursor */
.Typewriter__cursor::after {
  content: "";
  display: inline-block;
  margin-left: 2px; /* Adjust if needed */
  width: 12px; /* Size of the square cursor */
  height: 30px; /* Size of the square cursor */
  background-color: #f2f2f2; /* Color of the square cursor */
  animation: blink 1s infinite; /* Blinking effect */
  vertical-align: middle; /* Align with text */
  position: relative; /* Ensure z-index is effective */
  z-index: 1000; /* Ensure it's on top of other elements */
}

textarea {
  resize: none;
}
